<div class="container wid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                            <!-- <span class="des">Price: {{good.price}}</span>
                            <span class="des">Description: {{good.description}}</span>
                            <span class="des">Seller: {{good.seller.username}}</span><a [attr.href]="good.seller.email"> Click to send Email to seller: {{good.seller.email}}</a>
                            <span class="des">Status: {{good.status}}</span>v -->
                        <!-- / -->
                        <tr *ngFor="let good of goodsList">
                            <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left mar" href="#"> <img class="media-object" [attr.src]="good.imgSrc" style="width: 72px; height: 72px;" onerror="if (this.src != '../../assets/img/pac-404.png') this.src = '../../assets/img/pac-404.png';"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a [attr.href]="good.href">{{good.name}}</a></h4>
                                    <h5 class="media-heading"> by <a [attr.href]="good.seller.email">{{good.seller.username}}</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>{{good.status}}</strong></span>
                                </div>
                            </div></td>
                            <td class="col-sm-1 col-md-1" style="text-align: left">
                                <p>{{good.description}}</p>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>{{good.price}}</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>${{good.price}}</strong></td>
                            <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger" (click)="remove(good._id)">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Subtotal</h5></td>
                            <td class="text-right"><h5><strong>${{money}}</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Estimated shipping</h5></td>
                            <td class="text-right"><h5><strong>$0</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong>${{money}}</strong></h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                            <button type="button" class="btn btn-default" (click)="goToMarket()">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button></td>
                            <td>
                            <button type="button" class="btn btn-success" (click)="checkout()">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>