<div class="container">
    <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
                   <h1 class="title">Add a good for sale</h1>
                   <hr />
               </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" [formGroup]="form" (ngSubmit)="addGoods()">
                
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Title</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input formControlName="name" type="text" class="form-control" name="email" id="email"  placeholder="Enter title"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Description</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" formControlName="description" name="username" id="ausername"  placeholder="Enter your Username"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="1confirm" class="cols-sm-2 control-label">Image</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input formControlName="imgSrc" type="url" class="form-control" name="confirm" id="confirm"  placeholder="Add a image url"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="2confirm" class="cols-sm-2 control-label">Price</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input formControlName="price" type="number" class="form-control" name="confirm" id="_confirm"  placeholder="Input Price"/>
                        </div>
                    </div>
                </div>


                <div class="form-group ">
                    <button type="button"  (click)="addGoods()" class="btn btn-primary btn-lg btn-block login-button">Add</button>
                </div>
                <button class="login-register" >
                    <a href="goods">Cancel</a>
                </button>
            </form>
        </div>
    </div>
</div>